body {
    background: black;
    background-image: url(./images/henrik-l-2DfMzzECu1o-unsplash-edited.png);
    background-size: 220%;
    background-position: center;
  }

  html {
    scroll-behavior: smooth;
  }

h1 {
    color: #00c4c6;
    padding-left: 75px;
    font-family: "Courier New", monospace;
    font-size: 80px;
    margin-top: -50px;
    font-weight: 200;
}

h2 {
    padding-top: 200px;
    padding-bottom: 50px;
    color: white;
    padding-left: 75px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight:100;
}

h3 {
  color: #b9b18d;
  padding-left: 75px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bold;
}

p {
  color: white;
  padding-left: 75px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}

div.menu {
  position:fixed;
  top: 0;
  right: 0;
  margin-top: 50px;
  margin-right: 100px;
}

.main-content {
  margin-top: 25px;
}

 nav.topnav a {
 
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  transition: all ease-out 250ms;
}


nav li {
  list-style: none;
}


/* Change the color of links on hover */
.topnav a:hover {
  color: #00c4c6;
}

.topnav a:active {
  color: #00c4c6;
}


section {
  height: 100vh;
}

.scroll {
  color: white;
  padding-left: 75px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight:100;
}

.project-divs {
  padding-left: 75px;
}
#button {
  font-size: 20px;
  color: #00c4c6;
  background-color: black;
}
#button2 {
  font-size: 20px;
  color: #00c4c6;
  background-color: black;
}
#button3 {
  font-size: 20px;
  color: #00c4c6;
  background-color: black;
}

.email a {
  color: white;
  float: right;
  padding-right: 15px;
  font-family:'Courier New', Courier, monospace;
}

#boulder {
  height: 400px;
  padding-left: 75px;
}