body {
    background: black;
    background-image: url(./images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg);
  }

h1 {
    color: white;
    padding-left: 200px;
    font-family: "Courier New", monospace;
    font-size: 80px;
    margin-top: 50px;
}

h2 {
    padding-top: 100px;
    color: white;
    padding-left: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

p {
  color: white;
  padding-left: 200px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.logo {
  padding-top: 50px;
  padding-left: 186px;
}
.logo a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.topnav{
  padding-top:50px;
  padding-right:100px;
}
.topnav a {
  float: right;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}


/* Change the color of links on hover */
.topnav a:hover {
  color: #00c4c6;
}

#clickMePadding {
  padding-left: 200px;
}

#clickMe {
    font-size: 20px;
    font-weight: bold;
    color: #2488a0;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius:0cm;
    display: inline-block;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
  } 